<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>

<div class="land">
	
	<div class="row">
		<div class="header"></div>
	</div>

	<div class="row landing">
		<div class="container-fluid">
			<div class="header"></div>
			<div class="banner"></div>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid">
			<div class="deliverables"></div>
		</div>
	</div>

	<div class="row">
		<div class="container-fluid"></div>
	</div>

	<div class="row">
		<div class="container-fluid"></div>
	</div>

</div>