<div class="landing-page">
	<div class="one landing container-fluid">
	<div class="row product-name"><h1>Top<span>Mail</span></h1></div>
	<div class="row product-punchline"><h2>Answer Emails that Matter!</h2></div>
	<div class="row product-quote" style='margin: 0 auto;'>
		<p style=" color: lightgrey;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div>
	<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
	</div>

	<div class="two deliverables"></div>

	<div class="three problem"></div>

	<div class="four solution"></div>

	<div class="five footer"></div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>