<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>

<div class="land">

	<div class="row landing">
		<div class="container-fluid">
			<div class="banner"></div>
		</div>
	</div>

	<div class="row deliverables">
		<div class="container-fluid"></div>
	</div>

	<div class="row problems">
		<div class="container-fluid"></div>
	</div>

	<div class="row solutions">
		<div class="container-fluid"></div>
	</div>

	<div class="footer">
		<div class="container-fluid"></div>
	</div>

</div>