<div class="row">
  The following is the configuration that works for most. Feel free to change . You can change the settings anytime in the future by clicking on ### icon on top right.
</div>

<div class="row">
  <div class="col-md-7">
    <h3>Sentiment Analysiz</h3>
    <p>Your emails are run through a sentiment analysis algorithm which can detect any anger, dissatisfaction and quantify them for you to prioritize your emails.</p>
  </div>
  <div class="col-md-5">
  
  </div>
</div>