<div class="row">
  The following is the configuration that works for most. Feel free to change . You can change the settings anytime in the future by clicking on ### icon on top right.
</div>

<div class="row">
  <div class="col-md-7">
    <h3>Sentiment Analysis</h3>
    <p>Your emails are run through a sentiment analysis algorithm which can detect any anger, dissatisfaction and quantify them for you to prioritize your emails.</p>
  </div>
  <div class="col-md-5">
    <br/><br/><p> Sentiment weight: <span id="sentimentVal">3</span></p><br/>
  <input id="sentiment" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3"/&t>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <h3>Length of email</h3>
    <p>Your emails are run through a sentiment analysis algorithm which can detect any anger, dissatisfaction and quantify them for you to prioritize your emails.</p>
  </div>
  <div class="col-md-5">
    <br/><br/><p> Email length weight: <span id="lengthVal">3</span></p><br/>
  <input id="length" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3"/&t>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <h3>No Reply Streak</h3>
    <p>Your emails are run through a sentiment analysis algorithm which can detect any anger, dissatisfaction and quantify them for you to prioritize your emails.</p>
  </div>
  <div class="col-md-5">
    <br/><br/><p> Streak weight: <span id="streakVal">3</span></p><br/>
  <input id="streak" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3"/&t>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <h3>Last reply time</h3>
    <p>Your emails are run through a sentiment analysis algorithm which can detect any anger, dissatisfaction and quantify them for you to prioritize your emails.</p>
  </div>
  <div class="col-md-5">
    <br/><br/><p> Last reply delay weight: <span id="lastreplyVal">3</span></p><br/>
  <input id="lastreply" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3"/&t>
  </div>
</div>



<div class="row">
    <div class="col-md-12">
  <h3>Add keywords</h3>
  <p>Type your keywords separated by commas. Then click on "ADD keywords". Once that is done you will see a slider for each of your keywords where you can set the weights like you did previously.</p>
  <div class="row" id="keywordBlock">
    <div class="col-md-9"><input type="text" class="form-control" id="keywords"></div>
    <div class="col-md-offset-1 col-md-2"><button class="btn-md btn-primary" id="addKeywords">+Add Keywords</button></div>
  </div>
  </div>
</div>

<script>
  $(document).ready(function(){
     $("#addKeywords").click(function(){
      list = $("#keywords").val().split(",");
      i=0
      while(i<list.length){
        $("#keywordBlock").append("<div class=\"row\"><div class=\"col-md-7\"><h3>"+list[i]+"</h3></div><div class=\"col-md-5\">
    <br/><br/><p>"+list[i]+"weight: <span id=\""+list[i]+"Val\">3</span></p><br/>
  <input id=\"lastreply\" type=\"text\" data-slider-min=\"1\" data-slider-max=\"4\" data-slider-step=\"1\" data-slider-value=\"2\"/&t>
  </div>
</div>");
      };

});

  });
</script>


