<div class="container onboarding_welcome">
	<h2>Welcome to TopMail</h2>
	<p>We follow your most attention seeking emails to the top of your inbox, even if they are old.</p>
	<p>How we do it></p>
	<p>It's magic! But no rocket science. You can configure it too</p>
	<%= link_to "Configure"  %>
</div>