html, body {
	width: 100%;
	overflow-x: hidden;
	margin: 0px;
  font-family: $primary_font;
}

header {

  .navbar {
    margin-bottom: 0px;
    height: 10vh;
  }

  #current_user {
    padding: 5px;

    .user_details {
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
  }
  
}