html, body {
	width: 100%;
	overflow-y: hidden;
	margin: 0px;
}

header {
  #current_user {
    padding: 5px;

    .user_details {
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
  }
  
}