.user_onboarding {
  text-align: center;
  font-family: 'Lato', sans-serif;
  // min-height: 100vh; min-width: 100vw;

  .onboarding_welcome {
    height: 90vh;
    background: url(http://res.cloudinary.com/chi6rag/image/upload/v1433022482/TopMail/geometrical.gif);
  }

  .onboarding-column {
    background-color: lightgrey;
    padding: 2em; padding-top: 3em;
    padding-bottom: 3em;
    position: relative; top: 50%;
    transform: translateY(-50%);
  	
    .header { font-size: 5em; }
    p { font-size: 1.1em; }
    .content {}
    .configure-button {
      width: 77%;
      background-color: #86B229;
      display: inline-block;
      padding: 1em;
      font-size: 1.3em;
      margin: 1em;
      color: white;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
    
  }

}

#inbox {
  margin-top: 40px;
  
  .icons_container {
    width: 8em;
    display: inline-block;
    
    i {
      width: 1.5em;
      display: inline-block;
      
      &.fa-envelope-o {
        color: #16a085;
      }

      &.fa-clock-o {
        color: #2980b9;
      }

      &.fa-files-o {
        color: #d35400;
      }

      &.fa-frown-o {
        color: #d35400;
      }
    }
  }
}

.progress_buttons_container {
  margin: 2em 0;
  
  button.skip {
    margin-right: 1em;
  }
}